[Desktop Entry]
Type=Application
Name=XL Converter
Comment=Powerful image converter for the latest formats.
Path=/opt/xl-converter
Exec=/opt/xl-converter/xl-converter
Icon=/opt/xl-converter/icons/logo.svg
