/private_files/
/build/
/dist/
.vscode
__pycache__
.pytest_cache
tmp.py
/env/
/env_test/
/sample_img/
/unit_tests_tmp/
/misc/appimagetool
/misc/VC_redist.x64.exe
/bin/
/.coverage
/htmlcov/